
body {
    margin: 0;
}

.container {
    display: flex;
    height: 120vh;
    flex-direction: row;
}

.menu-content {
    padding: 15px;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-enviar {
    color: white;
    font-weight: bolder;
    cursor: pointer;
    width: 5em;
    height: 50px;
    background: #FF3354;
    padding: 0 35px;
    border-radius: 6px;
    line-height: 50px;
    transition: 300ms;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.btn-enviar:hover {
    background: #b11b30;
}

.btn-enviar i {
    transition: 0.5s;
}

.btn-enviar:hover i {
    transform: translateX(+100%);
}

.input-comentar {
    width: 70%;
    text-align: center;
    font-size: 1.2em;
    color: white;
    vertical-align: middle;
    line-height: 2.8em;
}

.input-comentar input::placeholder {
    color: white;
    opacity: 0.8;
}

.input-comentar input {
    border: none;
    padding: 5px;
    outline: none;
    box-shadow: none;
    background: transparent;
    width: 80%;
    height: 90%;
    color: white;
    font-size: 15px;
    transition: ease-in-out 0.3s;
}


.displayName {
    margin: 28px 10px;
    color: white;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

#menu-expand {
    background: #332E32;
    position: fixed;
    bottom: 0;
    right: 5%;
    border-radius: 10px 10px 0 0;
    transition: 0.6s;
}

.hide-menu {
    transition: 0.6s;
    transform: translateY(+100%);
}

.badgeNumber {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

hr.solid {
    height: 1px;
    color: black;
    background-color: black;
    margin: 5px;
    border: none;
}

.badgeNumber .Number {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    color: white;
    min-width: 2.0em;
    max-height: 2.3em;
    background: #454346;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    line-height: 2.0em;
    margin: 2px;
    transition: 0.3s;
    cursor: pointer;
}

.Number.low:hover {
    background: #FF0000;
}

.Number.medium-low:hover {
    background: #FFC100;
}

.Number.medium:hover {
    background: #FFFF00;
}

.Number.medium-high:hover {
    background: #D6FF00;
}

.Number.high:hover {
    background: #63FF00;
}

.msg-rate {
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin: 0.8em;
    font-family: 'Roboto', sans-serif;
}

.msg-rate div {
    flex-flow: column nowrap;
    font-size: 20px;
}

.btn-interact-menu {
    display: flex;
    cursor: pointer;
    top: -11%;
    right: 10%;
    position: absolute;
    background: #332E32;
    padding: 10px;
    width: 60px;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    transition: 0.3s;
}

.btn-interact-menu:hover {
    background: #2a2629;
}